@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;600;700;800&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --red-color:#a12c2f;
  --orange-color:#f5a425;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
